<div class="container flex flex-col justify-center p-4 mx-auto grid grid-cols-1 gap-5 lg:grid-cols-3 sm:grid-cols-2">
    <div id="canvas-gallery" class="pswp-gallery group/item relative cursor-pointer drop-shadow-l rounded-lg outline outline-1 outline-base-200 transform-gpu transition duration-200 hover:scale-[1.02] hover:drop-shadow-xl"
         @enterFadeIn
         [attr.data-pswp-width]="item.mainImage.width"
         [attr.data-pswp-height]="item.mainImage.height"
         *ngFor="let item of listing; let index = index"
         (click)="openImage(index)">
        <span *ngIf="index == 0" class="indicator-item badge badge-primary absolute right-1 top-1 select-none">nouveau</span>
        <img class="object-cover w-full bg-gray-500 aspect-square rounded-lg" [src]="item.mainImage.url">
        <div class="group/card opacity-0 group-hover/item:opacity-100 transition duration-250 flex w-full p-4 absolute bottom-0 left-0 bg-base-100/75 translate-y-2 group-hover/item:translate-y-0 rounded-b-lg">
            <div>{{item.name}}</div>
            <div class="pswp-caption-content">{{item.name}}</div>
        </div>
    </div>
</div>
